In [34]:
import numpy as np
import pandas as pd

dict_a = {'column A':[1,2,5,8],
         'column B':['Alex','Vijay','Ajith','Surya'],
         'column C':[True,False,False,True]}
df_a = pd.DataFrame(dict_a)

In [35]:
df_a

   column A column B  column C
0         1     Alex      True
1         2    Vijay     False
2         5    Ajith     False
3         8    Surya      True

In [36]:
df_a.dtypes

column A     int64
column B    object
column C      bool
dtype: object

In [39]:
dict_b = {'column A': np.random.randn(50), 
         'column B': np.random.randint(10, size=50)}
df_b = pd.DataFrame(dict_b)
df_b.shape
(50,2)

(50, 2)

In [41]:
df_b.head()

   column A  column B
0  0.926154         8
1  0.683408         2
2 -0.100741         2
3 -0.265567         7
4 -0.043879         9

In [42]:
np.random.randn(5,4)

array([[-0.53529215,  0.35741228, -0.45854998,  0.29290962],
       [-0.67829158,  1.13189682,  0.29355633, -0.37600862],
       [-0.02909755, -0.0340891 ,  0.19744254,  0.14768989],
       [ 0.06309935,  0.47223285,  0.53113811,  0.06819252],
       [ 0.30733141, -0.45104776,  0.65022007,  0.7859621 ]])

In [43]:
df_c = pd.DataFrame(np.random.randn(5,4))

In [44]:
df_c

          0         1         2         3
0 -0.063626  0.103732  0.339352  1.378781
1 -1.264897  0.194018 -0.466368  0.243856
2  1.005225 -0.825063 -0.113229 -0.671136
3 -0.589351 -0.639311 -0.601631  0.174542
4 -1.057644  0.607206 -0.657943  0.424209

In [46]:
df_d = pd.DataFrame(np.random.randn(5,4), 
columns=['a','b','c','d'])

In [47]:
df_d

          a         b         c         d
0  0.474487  0.125230  0.516299 -0.485312
1 -0.860477 -0.330481 -0.583851  0.815269
2  0.187536  1.382839 -0.827114 -0.456681
3  2.090190 -1.602758  0.151606  0.140714
4 -0.162014  1.678602 -0.131787 -1.571680

In [52]:
index = pd.date_range('2021-09-21','2021-09-25')
df_e = pd.DataFrame(np.random.randn(5,4),
                    columns=['a','b','c','d'],
                    index=index)

In [53]:
df_e

                   a         b         c         d
2021-09-21 -2.038133 -1.104401 -1.895722  1.134665
2021-09-22  1.444723  0.756179 -0.143790 -0.423577
2021-09-23 -0.016780 -0.211663  1.637743 -1.047473
2021-09-24 -0.130385  0.212221  0.235909  0.913849
2021-09-25  1.379800  1.464644  0.349115  2.686932